.collections {
    margin-top: 4rem;
    .container {
        .cards {
            max-width: 100rem;
            justify-content: space-between;
            .column {
                max-width: 80rem;
                width: 100rem;
                display: flex;
                justify-content: space-between;
                margin-bottom: 3rem;
                .card {
                    height: 16rem !important;
                    padding: 1rem;
                    cursor: pointer;
                    img {
                        transition: 0.6s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                    p {
                        margin-top: 1.5rem;
                        text-align: center;
                        transition: 0.3s;
                        &:hover {
                            color: orange;
                        }
                    }
                }
            }
        }
    }
}