footer {
    .dop-info {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }
    .full-info {
        margin-top: 3.5rem;
        display: flex;
        justify-content: space-between;
        ul {
            margin: 1.5rem 0;
            padding: 0;
            li {
                .icons {
                    margin-top: 1rem;
                    i {
                        margin-right: 1rem;
                    }
                }
                list-style: none;
                &:hover {
                    color: orange;
                }
                transition: 0.4s;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    footer {
        .dop-info {
            display: block;
            text-align: center;
        }
        .full-info {
            display: block;
            text-align: center;
            .need-help {
                margin-bottom: 5rem;
            }
            .information {
                display: none;
            }
            .account {
                display: none;
            }
            .store {
                display: none;
            }
        }
    }
}