.products-prop {
    width: 15.5rem;
    h6 {
        margin: 1rem 0;
        font-size: 0.8rem;
    }
    .part {
        border: #E7EAF1 1px solid;
        padding: 3rem 1rem;
        h5 {
            margin: 1.5rem 0;
        }
        li {
            list-style: none;
        }
    }
    .color {
        display: flex;
        div {
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 100%;
            margin: 0 0.3rem;
        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
        .white {
            background-color: #E7EAF1;
        }
        .green {
            background-color: green;
        }
        .orange {
            background-color: orange;
        }
        .gray {
            background-color: gray;
        }
        .black {
            background-color: black;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .products-prop {
        display: none;
    }
}